.root {
    -fx-background-color: #111111;
    -fx-border-color: #222222;
    -fx-border-width: 0 2px 1px 2px;
    fx-border-style: solid;

}

.root * {
    -fx-text-fill: #cdd4da;
    -fx-background-color: transparent;
}

.button {
    -fx-text-fill: #777777;
    -fx-background-color: #33333350;
}

.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #77777750;
}
#topBar {
    -fx-background-color: linear-gradient(to bottom, #ffffff15 0%, #000000EE 50%, #11111110 90%);
   
}

#urlField {
    -fx-background-color:#FFFFFFDF;
    -fx-text-fill: #222222;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-opacity: .9;
    -fx-pref-height: 25px;
    -fx-font-size: 12px;
    -fx-font-family: 'OCR A Extended'; 
}

#urlField:focused {
    -fx-text-fill: #000000;
    -fx-opacity: 1;

}

#urlField:focused:hover {
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

#rowBtn {
    -fx-text-fill: #777777;
    -fx-font-size: 14px;
    -fx-font-family: 'OCR A Extended';
    -fx-background-color: transparent;
    -fx-opacity: .8;
}

#rowBtn:hover{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #33333360;
    -fx-opacity: 1;
}

#blackMenu{
    fx-background-color: linear-gradient(to left, #77777790 5%, #00000000, #77777790 95%);
}

#toolBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #cdd4da;

    
    -fx-opacity: .6;
}

#toolBtn:hover {
    -fx-background-color: #33333380;
    -fx-opacity: 1;
    -fx-text-fill: white;
}


#closeBtn {
    -fx-background-color: transparent;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-opacity: .4;
}

#closeBtn:hover {
    -fx-background-color: red;
    -fx-opacity: 1;
}

#passField {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#textField {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#formField {
    -fx-background-color: transparent;
    -fx-text-fill: #777777;
}
#formField:focused{
    -fx-text-fill: white;
}

#formField:focused:hover {
    -fx-text-fill: white;
}

#testColor {
    -fx-background-color: green;
}
#transparentColor {
    -fx-background-color: transparent;
}

#gridPane {
    -fx-background-color: red;
}

#menuVBox {
    -fx-background-color: linear-gradient(to bottom,
        #000000,
        #20232570);
}

#startImageBtn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
}

#mainImageBtn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
}

#mainImageBtn:hover {
    -fx-background-color: #33333380;
    -fx-text-fill: white;

}

#inactiveMainImageBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #777777;
    -fx-background-radius: 30px;
}

#inactiveMainImageBtn:hover {
    -fx-background-color: #33333350;
    -fx-text-fill: white;
   
}

#hGradient {
    -fx-background-color: linear-gradient(to right, #111111AA, #77777740, #111111AA);
}
#vGradient {
    -fx-background-color: linear-gradient(to bottom, #111111AA, #77777740, #111111AA);
}
#activeMenuBtn {
    -fx-background-color:linear-gradient(to right, #ffffffAA 0%, #88888840 5%, #77777740 100%);
    -fx-opacity: .8;
}

#activeMenuBtn:hover {
    -fx-background-color: linear-gradient(to right, #ffffffAA 0%, #EEEEEE40 5%, #FFFFFF40 100%);
    -fx-opacity: 1;
}

#menuBtn {
    -fx-background-color: transparent;
    -fx-opacity: .8;
}

#menuBtn:hover {
    -fx-background-color: #77777750;
    -fx-opacity: 1;
}

#iconBtn {
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
    -fx-opacity: .8;
}

#iconBtn:hover {
   
    -fx-opacity: 1;
}

#iconBtnSelected {
    -fx-opacity: .8;
    -fx-background-color: linear-gradient(to top, #ffffff01, #ffffff02, #11111105);
} 

#iconBtnSelected:hover {
    -fx-opacity: 1;
}

#menuBox {
    -fx-background-color: linear-gradient(to top,  #ffffff01,#ffffff02, #11111105 );
}

#menuBar {
    -fx-background-color: linear-gradient(to top, #66666650, #ffffff09, #66666650);

}

#bodyBox {
    -fx-background-color: #33333350;

}

#menuBarBtn{
    -fx-background-color: transparent;
    -fx-opacity: .8;
    -fx-shape: "...";
    -fx-scale-shape: true;
    -fx-position-shape: true;

}

#menuBarBtn:hover {
    -fx-background-color: #ffffff50;
    -fx-opacity: 1;
    -fx-shape: "";
}

#menuBarBtnDisabled {
    -fx-background-color: transparent;
    -fx-opacity: .8;
    -fx-shape: "...";
    -fx-scale-shape: true;
    -fx-position-shape: true;
    -fx-text-fill: #777777;
}


#urlMenuItem{
    -fx-background-color: #000000;
    -fx-text-fill: #777777;
    -fx-font-family: 'OCR A Extended';
    -fx-font-size: 14px;
}

#urlMenuItem:hover {
    -fx-background-color: #777777;
    -fx-text-fill: white;
}