launcher/target/
launcher/src/main/java/mslinks/
jsoner
Netnotes/target/
Netnotes/src/main/java/mslinks/
Netnotes/dependency-reduced-pom.xml
*.svn-base
Netnotes/.svn
.vscode/settings.json
Netnotes/dependency-reduced-pom.xml
